.chat_title {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  p:nth-child(1) {
    margin: 0px;
    font-size: 1.4rem;
    font-weight: 700;
  }
  p:nth-child(2) {
    margin: 0;
    font-size: 1.2;
  }
}

.messages_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 1rem;
  // margin: 0.5rem 0;

  .loading_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .body_messages {
    flex-grow: 1;
    height: 10px; // para que funcione el overflow tiene que tener un tamano fijo
    overflow-x: scroll;
    border: 1px solid #2c344b;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    .single_message {
      margin: 0.5rem;
      border-radius: 0.5rem;
      padding: 0.8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: flex-start;
      background-color: #f3f3fb;
      p {
        margin: 0;
        padding: 0;
      }
    }

    .own {
      align-self: flex-end;
      background-color: #2c344b;
      p {
        color: #fff;
      }
    }

    .other {
    }
  }

  .input_message {
    margin-top: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
    ion-input {
      border-radius: 0.5rem;
      flex-grow: 1;
      color: gray;
      background-color: #f3f3fb;
      height: 3.4rem;
      margin-right: 0.5rem;
      font-size: 1.2rem;
      --padding-start: 1rem;
    }
    ion-button {
      --border-radius: 50%;
      height: 3.4rem;
      width: 3.4rem;
      --padding-bottom: 0px;
      --padding-end: 0px;
      --padding-start: 0px;
      --padding-top: 0px;
    }
  }
}
