<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="12" size-md="10" size-lg="8" size-xl="8">
        <ion-toolbar>
          <ion-buttons slot="start" mode="ios">
            <ion-back-button defaultHref="products" text=""></ion-back-button>
          </ion-buttons>
        </ion-toolbar>

        <h1 class="subtitle">Crea un nuevo producto</h1>

        <app-product-new-images></app-product-new-images>
        <app-product-form></app-product-form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
