<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="12" size-md="10" size-lg="8" size-xl="8">
        <ion-toolbar>
          <ion-buttons slot="start" mode="ios">
            <ion-back-button defaultHref="promotions" text=""></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
        <h1 class="subtitle">Crea una promoción</h1>
        <app-promotion-form></app-promotion-form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
