<ion-content *ngIf="promotion">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="12" size-md="10" size-lg="8" size-xl="8">
        <ion-toolbar>
          <ion-buttons slot="start" mode="ios">
            <ion-back-button defaultHref="/home" text=""></ion-back-button>
          </ion-buttons>
          <ion-buttons slot="end" routerLink="/cart">
            <ion-icon slot="end" name="cart-outline"></ion-icon>
            <ion-badge mode="md" *ngIf="cant">
              {{ cant }}
            </ion-badge>
          </ion-buttons>
        </ion-toolbar>
        <div class="product_container">
          <div class="product_images">
            <div class="image_container boder_radius">
              <div class="box_loading" *ngIf="imgLoading">
                <ion-spinner name="circles"></ion-spinner>
              </div>
              <ion-img
                [src]="promotion.image"
                (ionImgDidLoad)="imgLoading = false"
              ></ion-img>
            </div>
          </div>

          <div class="text_container">
            <p>{{ promotion.name }}</p>
            <p>{{ promotion.description }}</p>
            <p>{{ promotion.price | number: "1.2" }} Bs.</p>
          </div>
        </div>

        <div class="buttons_container">
          <ion-button (click)="addToCart()" expand="block">
            Agregar al carrito
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
