<div class="photo_container">
  <ion-img src="assets/no-image.jpg" *ngIf="!singlePhoto && !photoDB"></ion-img>
  <ion-img [src]="singlePhoto.webPath" *ngIf="singlePhoto"></ion-img>
  <ion-img [src]="photoDB" *ngIf="photoDB && !singlePhoto"></ion-img>
</div>

<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="takePicture()" expand="block">
        <ion-icon slot="start" name="camera-outline"></ion-icon>
        Camara
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="chooseGallery()" expand="block" fill="outline">
        <ion-icon slot="start" name="images-outline"></ion-icon>
        Galeria
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
