<ion-content *ngIf="promotion">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="12" size-md="10" size-lg="8" size-xl="8">
        <ion-toolbar>
          <ion-buttons slot="start" mode="ios">
            <ion-back-button
              defaultHref="/promotions"
              text=""
            ></ion-back-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="presentActionSheet()">
              <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <div class="product_container">
          <div class="product_images">
            <div>
              <div class="box_loading" *ngIf="imgLoading">
                <ion-spinner name="circles"></ion-spinner>
              </div>
              <ion-img
                [src]="promotion.image"
                (ionImgDidLoad)="imgLoading = false"
              ></ion-img>
            </div>
          </div>

          <div class="text_container">
            <p>{{ promotion.name }}</p>
            <p>{{ promotion.description }}</p>
            <p>{{ promotion.price | number: "1.2" }} Bs.</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
