.details_container {
  margin-top: 1rem;
  border-radius: 1rem;
}

.detail_container,
.header_details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  p {
    margin: 0.5rem;
    padding: 0px;
  }
}

.header_details > p {
  font-size: 1.3rem;
  font-weight: 700;
}

.total {
  display: flex;
  justify-content: space-around;
  p {
    font-weight: 700;
    font-size: 1.4rem;
  }
}
