.content {
    margin: 12px;
    display: flex;
    justify-content: center;
}

.all-row {

}

.img-dealer {
    width: 400px;
}

.buttons_form_container {
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: space-evenly;
  }

  .num-container {
    display: flex;
    justify-content: space-between;
  }