<!-- <ion-content *ngIf="product">
  <ion-toolbar>
    <ion-buttons slot="start" mode="ios">
      <ion-back-button
        defaultHref="/home"
        color="light"
        text=""
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/cart">
      <ion-icon slot="end" name="cart-outline" color="light"></ion-icon>
      <ion-badge color="light" mode="md" *ngIf="cant">
        {{ cant }}
      </ion-badge>
    </ion-buttons>
  </ion-toolbar>
  <div class="card">
    <div class="image">
      <ion-slides [options]="imgSlideOpts" pager="true" scrollbar="tr">
        <ion-slide *ngFor="let img of product.images">
          <ion-img [src]="img.url"></ion-img>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="card-content">
      <div class="card-title">
        <h1 class="ion-no-margin">{{ product.name }}</h1>
        <p class="ion-no-margin">
          <sup>Bs. </sup> {{ product.price | number: "1.2" }}
        </p>
      </div>
    </div>

    <div class="about">
      <h1>Descripcion</h1>
      <p>{{ product.description }}</p>
    </div>

    <ion-button (click)="addProductToCart()" expand="block">
      Agregar al carrito
    </ion-button>
  </div>
</ion-content> -->

<ion-content *ngIf="product">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="12" size-md="10" size-lg="8" size-xl="8">
        <ion-toolbar>
          <ion-buttons slot="start" mode="ios">
            <ion-back-button defaultHref="/home" text=""></ion-back-button>
          </ion-buttons>
          <ion-buttons slot="end" routerLink="/cart">
            <ion-icon slot="end" name="cart-outline"></ion-icon>
            <ion-badge mode="md" *ngIf="cant">
              {{ cant }}
            </ion-badge>
          </ion-buttons>
        </ion-toolbar>
        <div class="product_container">
          <div class="product_images">
            <ion-slides mode="md" pager="md" scrollbar="md">
              <ion-slide *ngFor="let img of product.images">
                <div class="image_container">
                  <div class="box_loading" *ngIf="imgLoading">
                    <ion-spinner name="circular"></ion-spinner>
                  </div>
                  <ion-img
                    [src]="img.url"
                    (ionImgDidLoad)="imgLoading = false"
                  ></ion-img>
                </div>
              </ion-slide>
            </ion-slides>
          </div>

          <div class="text_container">
            <p>{{ product.name }}</p>
            <p>{{ product.description }}</p>
            <p>{{ product.price | number: "1.2" }} Bs.</p>
          </div>
        </div>
        <div class="buttons_container">
          <ion-button (click)="addProductToCart()" expand="block">
            Agregar al carrito
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
