<div class="form">
  <form [formGroup]="productForm" autocomplete="off" (ngSubmit)="saveProduct()">
    <ion-item>
      <ion-label color="primary" position="floating">Nombre</ion-label>
      <ion-input
        type="text"
        formControlName="name"
        placeholder="Nombre"
      ></ion-input>
      <span class="error_message" *ngIf="invalidField('name')">{{
        invalidNameMsg
      }}</span>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Descripcion</ion-label>
      <ion-input
        type="text"
        formControlName="description"
        placeholder="Descripcion"
      ></ion-input>
      <span class="error_message" *ngIf="invalidField('description')">{{
        invalidDescriptionMsg
      }}</span>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Precio</ion-label>
      <ion-input
        type="number"
        formControlName="price"
        min="0"
        max="9999"
        placeholder="Precio"
      ></ion-input>
      <ion-label class="error_message" *ngIf="invalidField('price')">{{
        invalidPriceMsg
      }}</ion-label>
    </ion-item>

    <!--<ion-item>
      <ion-label color="primary" position="floating"
        >Precio de Oferta</ion-label
      >
       <ion-input
        type="number"
        formControlName="offerPrice"
        min="0"
        max="9999"
        placeholder="Precio de offerta"
      ></ion-input>
      <ion-label class="error_message" *ngIf="invalidField('offerPrice')">{{
        invalidOfferPriceMsg
      }}</ion-label>
    </ion-item> -->

    <ion-item>
      <ion-label color="primary" position="floating">Cantidad</ion-label>
      <ion-input
        type="number"
        formControlName="stock"
        min="0"
        max="9999"
        placeholder="Cantidad"
      ></ion-input>
      <ion-label class="error_message" *ngIf="invalidField('stock')">{{
        invalidStockMsg
      }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Disponible</ion-label>
      <ion-toggle formControlName="available"></ion-toggle>
    </ion-item>

    <!-- <ion-item>
      <ion-label>En Oferta</ion-label>
      <ion-toggle formControlName="offer"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Unidad</ion-label>
      <ion-select formControlName="unit" interface="popover">
        <ion-select-option [value]="unit" *ngFor="let unit of units">{{
          unit
        }}</ion-select-option>
      </ion-select>
    </ion-item> -->

    <ion-item>
      <ion-label>Categoria</ion-label>
      <ion-select formControlName="category" interface="popover">
        <ion-select-option
          [value]="category"
          *ngFor="let category of categories"
          >{{ category }}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-button
            *ngIf="!isLoading"
            type="submit"
            expand="block"
            fill="solid"
            [disabled]="productForm.pending"
          >
            Guardar
          </ion-button>

          <ion-button
            *ngIf="isLoading"
            type="button"
            fill="solid"
            expand="block"
            disabled
          >
            <ion-spinner name="bubbles"></ion-spinner>
            Guardando ...
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button
            (click)="cancel()"
            type="button"
            fill="outline"
            expand="block"
          >
            Cancelar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</div>
